* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

#nav {
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: white;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 50%;

}



.navtop-left {
    width: 50%;
    display: flex;
    align-items: center;

}


.navtop-left img {
    height: 2.5rem;
}

.text {
    font-size: 2rem;
    color: gray;
    padding-left: 0.8rem;
}

.navtopright button {
    background: #1a73e8;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.navtopright i {
    padding: 0 1.5rem;
}

.navbottom {
    width: 95vw;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.navbottom ul {
    list-style: none;
}

.navbottom ul li {
    display: inline-block;
}

.navbottom ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: gray;
}

.navbottom ul li a:focus {
    color: #1a73e8;
}

.linkbars::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1a73e8;
    transition: width .3s;
}

.linkbars:focus::after {
    width: 100%;
    transition: width .3s;
}

#main {
    width: 75%;
    display: flex;
    flex-flow: column;
    padding: 3.5rem;
}

#main h2 {
    font-size: 2rem;
    color: gray;
    padding: 1.5rem 0;
}

#main p {

    padding: 0.8rem 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: gray;
}

#footer {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
}

.footer_info {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_info_left {
    width: 50%;
}

.footer_info_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_info_left ul {
    list-style: none;
}

.footer_info_left ul li {
    display: inline-block;
}

.footer_info_left ul li a {
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0 0.8rem;
    color: gray;
}

.footer_info_left ul li::after {
    content: '.';
    color: gray;
    vertical-align: center;
}

.footer_info_right select {
    width: 150px;
    padding-left: 1.5rem;
    margin-left: 1.2rem;
}

.footer_info_right i {
    color: #1a73e8;
}